* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.header {
  background-color: gray;
  text-align: justify;
}

.header-container {
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 15px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

/* First section */

.hero {
  background-color: beige;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.top-image {
  width: 400px;
  height: 200px;
  background-color: blue;
  display: flex;
  flex-shrink: 1;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 400px;
  height: 200px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  gap: 10px;
  flex-basis: 400px;
}

.sign-up-button,
.sign-up-button-modal {
  background: royalblue;
  border: 1px solid royalblue;
  width: 100px;
  padding: 10px;
  color: white;
  border-radius: 15px;
}

/* image containers */
.image-row {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 10px;
}

.caption {
  width: 150px;
}

.item {
  max-width: 200px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

/* quote container */

.quote-container {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

/* modal */

.modal-container {
  background-color: red;
  border: 5px solid salmon;
}

.modal {
  background-color: blue;
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sign-up-button-modal {
  border: 1px solid white;
}

footer {
  background-color: aquamarine;
  text-align: center;
  padding: 15px;
}
